@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Dorsa&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

    font-size:20px;color:#212529;font-family:Verdana, Geneva, Tahoma, sans-serif;}
	
.p1{
    line-height: 1.5;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-top: 0px;
}
p{
    line-height: 1.5;
    margin: 40px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

h3,h4,h5,h6{font-weight:800;font-family:Georgia, 'Times New Roman', Times, serif;}


 h2{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 25px 25px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  &.elegantshadow {
      color: #2c2c2c;
    background-color: transparent;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }}
  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    padding-block-end: 12px;
    padding-top: 109px;
    text-align:justify;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-weight: bold;}
    /* &.elegantshadow2 {
       color: #131313;
      background-color: transparent;
      letter-spacing: .15em;
      text-shadow: 
        1px -2px 0 #767676, 
        -1px 3px 1px #737272, 
        -2px 5px 1px #767474, 
        -3px 7px 1px #787777, 
        -4px 9px 1px #7b7a7a, 
        -5px 10px 1px #7f7d7d, 
        -6px 12px 1px #828181, 
        -7px 14px 1px #868585, 
        -8px 16px 1px #8b8a89, 
        -9px 18px 1px #8f8e8d, 
        -10px 20px 1px #949392, 
        -11px 22px 1px #999897, 
        -12px 24px 1px #9e9c9c, 
        -13px 26px 1px #a3a1a1, 
        -14px 28px 1px #a8a6a6, 
        -15px 30px 1px #adabab, 
        -16px 32px 1px #b2b1b0, 
        -17px 34px 1px #b7b6b5, 
        -18px 36px 1px #bcbbba, 
        -19px 38px 1px #c1bfbf, 
        -20px 40px 1px #c6c4c4, 
        -21px 42px 1px #cbc9c8, 
        -22px 44px 1px #cfcdcd, 
        -23px 46px 1px #d4d2d1, 
        -24px 48px 1px #d8d6d5, 
        -25px 50px 1px #dbdad9, 
        -26px 52px 1px #dfdddc, 
        -27px 54px 1px #e2e0df, 
        -28px 56px 1px #e4e3e2; 
        color: #0a0042;
      
      letter-spacing: .05em;
      text-shadow: 
        4px 4px 0px #d5d5d5, 
        7px 7px 0px rgba(0, 0, 0, 0.2);
    }} */


img{
    position: static;
	vertical-align: middle;
    border-style: none;
    
}

/*----------Estilo Barra------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
    width: 98%;
    position: fixed;
	background-color: #100261;
	padding: 0px;
	border-bottom:7px solid#7e829c;
	border-radius: 5px;
	box-shadow: #000;
    z-index: 1000;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
    list-style-type: none;
}
#navbarSupportedContent ul li a {
	margin-right: 10px;
    list-style-type: none;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
    padding-right: 40px;
}
#navbarSupportedContent ul li a{
	color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #1a00ad;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #100261;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

/*Pantalla grande*/ 
@media(min-width: 992px){
    .navbar-mainbg{
        margin-left: 20px;}
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}       

  
	.imalog{
        
        width: 274px; 
       height: 294px;
	  margin: 40px;
	  animation: bounce 3s infinite ;
      position: static;
	}
article{
    width: 70%;
}
    aside {
        font-family: arial;
        font-size: 18px;
        margin:15px 0px 0px 15px ;
        background:transparent;
        width: 45%;
        height: 30%;
        overflow-y: scroll;
        max-height: 600px;
        flex: 1 1 auto;
                                    
         }
.articulos{
    display: block;
    border-radius:15px;
    padding: 30px 30px 50px; 
    margin: 40px;
     }  
     .articulos1{
        display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px 50px 0px 50px 
        }
     
                         
         
   .im1{
        width: 30%;
        height: 10%;
        float:left ;
        position: static;
   }
   .im2{
    width: 174px;
    height: 148px;
     float: right;
     padding: 15px;
   }
 
    aside section {
        /* background:#baf7f7b7; */
        display: flex;
        flex-direction:column;
        margin: 15px;
        padding: 15px;
        text-align: justify;
        border-radius:15px;
        border-color: #007bff;
     } 
     .pruebaComents{
        display: flex;
        width: 100%;
    
    }


    footer{
        margin-left: 20px;
        margin-right: 20px;
        padding:10px 0 5px; border-bottom:10px solid#ccbfbf28; border-radius: 20px;background-color:#100261
     }
}


/* pantalla chica aqui  */
@media (max-width: 991px){
body{ 
    width: 100%;
  }
  h2 .elegantshadow{
    padding-top: 80%;
    text-align: center;

  }
  nav{
    width: 100%;
  }
  h1{
    font-size: 30px;
  }
.navbar-expand-custom {
        width: 100%;
        border-radius: 0%;        
	}
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
        list-style: none;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 0px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}

  
	.imalog{
        width: 144px; 
       height: 174px;
	  margin: 40px;
	  animation: bounce 3s infinite ;
      position: static;
	}

    aside {
        font-family: arial;
        font-size: 18px;
        background:transparent;
        overflow-y: scroll;
        max-height: 600px;
        flex: 1 1 auto;
                                    
         }


         .articulos{
            display: flex;
            flex-direction: column;
            border-radius:15px;
            padding: 10px 10px 20px; 
            margin: 10px;
            background-color: #2ea10000;
                   
             }  
             .im1{
                width: 30%;
                height: 10%;
                float:left ;
                position: static;
           }
           .im2{
            width: 174px;
            height: 148px;
             float: right;
             padding: 15px;
           }

.articulos1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding: 37px;
    align-items: center;
}

             article img {
                position: static;
                float: left;
                margin:1px 15px 0px 0px;
                                 
             }     
           
         
            aside section {
                /* background:#baf7f7b7; */
                width: 100%;
                display: flex;
                flex-direction:column;
                margin: 15px;
                padding: 15px;
                text-align: justify;
                border-radius:15px;
                border-color: #007bff;
             } 
             .pruebaComents{
                display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
            }


    footer{
        width: 100%;
         border-bottom:10px solid#ccbfbf28; 
        background-color:#100261; padding:20px 0 5px;
     }
}


/*------ estilo footer-------*/

footer .list-inline{
    margin:20px;padding:0px;
}
footer .copyright{
    color:#fff;font-size:18px;margin-bottom:0;text-align:center;
}
.btn{
    color:#fff;font-size:14px;font-weight:800;
    padding:15px 25px;letter-spacing:1px;text-transform:uppercase;
    border-radius:10px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}


/*----------Carrusel-------*/
    .slideshow{
        margin-top: 63px;
        padding-top: 0px;
        height: 400px ;
        box-sizing: border-box;
        position: static;
    }
    .content{
        margin: auto;
        width: 190px;
        perspective: 1000px;
        position: static;
        padding-top: 80px;
    }
    .content-carrusel{
        width: 100%;
        position: static;
        float: right;
        animation: rotar 15s infinite linear;
        transform-style: preserve-3d;
    }
    .content-carrusel:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
    .content-carrusel figure{
        width: 100%;
        height: 120px;
        border: 1px solid #e710e7;
        overflow: hidden;
        position: static;
    }
    .content-carrusel figure:nth-child(1){
        transform: rotateY(0deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(2){
        transform: rotateY(40deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(3){
        transform: rotateY(80deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(4){
        transform: rotateY(120deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(5){
        transform: rotateY(160deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(6){
        transform: rotateY(200deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(7){
        transform: rotateY(240deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(8){
        transform: rotateY(280deg) translateZ(300px);
    }
    .content-carrusel figure:nth-child(9){
        transform: rotateY(320deg) translateZ(300px);
    }
    .shadow{
        position: static;
        box-shadow: 0 0 20px 0 #000;
        border-radius: 5px;
    }
    .content-carrusel img{
        image-rendering: auto;
        transition: all 300ms;
        width: 100%;
        height: auto;
        position: static;
    }
    .content-carrusel img:hover{
        transform: scale(1.2);
        transition: all 300ms;
    }

	.carousel-item img {
		width: 100%;
		height: auto; 
        border-radius: 10px;
		object-fit: cover;
        position: static;
	}
	
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-left: 10%;
        padding-right: 10%;
    }

    @keyframes rotar{
        from{
            transform: rotateY(0deg);
        } to{
            transform: rotateY(360deg);
        }
    }
	
    @keyframes bounce{
		0%{ transform: translateY(0);}
		40%{transform: translateY(-20px);}
		60%{transform: translateY(-10px);}
	}
 
    
    #tar h2{
        color:#000000;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-align: justify;
        
    }




    /*-------Comentarios-------*/
   
   /*Lista de Comentarios*/
   .comments-container {
       margin: 60px auto 15px;
       width: 768px;
       position: static;
   }
   
   .comments-container h1 {
       font-size: 36px;
       color: #283035;
       font-weight: 400;
   }
   
   .comments-container h1 a {
       font-size: 18px;
       font-weight: 700;
   }
   
   .comments-list {
       margin-top: 30px;
       position: static;
   }
   
   /*Lineas / Detalles*/
   .comments-list:before {
       content: '';
       width: 2px;
       height: 100%;
       background: #c7cacb;
       position: static;
       left: 32px;
       top: 0;
   }
   
   .comments-list:after {
       content: '';
       position: absolute;
       background: #c7cacb;
       bottom: 0;
       left: 27px;
       width: 7px;
       height: 7px;
       border: 3px solid #dee1e3;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       border-radius: 50%;
   }
   
   .reply-list:before, .reply-list:after {display: none;}
   .reply-list li:before {
       content: '';
       width: 60px;
       height: 2px;
       background: #c7cacb;
       position: absolute;
       top: 25px;
       left: -55px;
   }
   
   
   .comments-list li {
       margin-bottom: 15px;
       display: block;
       position: static;
   }
   
   .comments-list li:after {
       content: '';
       display: block;
       clear: both;
       height: 0;
       width: 0;
   }
   
   .reply-list {
       padding-left: 88px;
       clear: both;
       margin-top: 15px;

   }
   /**
    * Avatar
    ---------------------------*/
   .comments-list .comment-avatar {
       width: 65px;
       height: 65px;
       position: static;
       z-index: 99;
       float: left;
       border: 3px solid #FFF;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
       box-shadow: 0 1px 2px rgba(0,0,0,0.2);
       overflow: hidden;
   }
   
   .comments-list .comment-avatar img {
       width: 100%;
       height: 100%;
   }
   
   .reply-list .comment-avatar {
       width: 50px;
       height: 50px;
   }
   
   .comment-main-level:after {
       content: '';
       width: 0;
       height: 0;
       display: block;
       clear: both;
   }
   /*--- Caja del Comentario----*/
   .comments-list .comment-box {
       width: 86%;
       float: right;
       position: static;
       -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
       box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   }
   
   .comments-list .comment-box:before, .comments-list .comment-box:after {
       content: '';
       height: 0;
       width: 0;
       position: static;
       display: block;
       border-width: 10px 12px 10px 0;
       border-style: solid;
       border-color: transparent #FCFCFC;
       top: 8px;
       left: -11px;
   }
   
   .comments-list .comment-box:before {
       border-width: 11px 13px 11px 0;
       border-color: transparent rgba(0,0,0,0.05);
       left: -12px;
   }
   
   .reply-list .comment-box {
       width: 610px;
       
   }
   .comment-box .comment-head {
       background: #b3ebfcc7;
       padding: 10px 12px;
       border-bottom: 1px solid #82c0d8d0;
       overflow: hidden;
       -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
       border-radius: 4px 4px 0 0;
   }
   
   .comment-box .comment-head i {
       float: right;
       margin-left: 14px;
       position: static;
       top: 2px;
       color: #A6A6A6;
       cursor: pointer;
       -webkit-transition: color 0.3s ease;
       -o-transition: color 0.3s ease;
       transition: color 0.3s ease;
   }
   
   .comment-box .comment-head i:hover {
       color: #03658c;
   }
   
   .comment-box .comment-name {
       color: #283035;
       font-size: 14px;
       font-weight: 700;
       float: left;
       margin-right: 10px;
   }
   
   .comment-box .comment-name a {
       color: #283035;
   }
   
   .comment-box .comment-head span {
       float: left;
       color: #999;
       font-size: 13px;
       position: static;
       top: 1px;
   }
   
   .comment-box .comment-content {
       background: #ddf3fac7;
       padding: 12px;
       font-size: 15px;
       color: #595959;
       -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
       border-radius: 0 0 4px 4px;
   }
   
   .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
   .comment-box .comment-name.by-author:after {
       content: 'autor';
       background: #03658c;
       color: #FFF;
       font-size: 12px;
       padding: 3px 5px;
       font-weight: 700;
       margin-left: 10px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
   }
   
/*---- Efectos ----*/
   .tada  {
    position: static;
    overflow: hidden;
    margin-top: -153px;
    white-space: nowrap;
    width: 0;
    animation: escribir 4s linear  infinite;

}

@keyframes escribir {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.abouts{
    display: flex;
    flex-direction: column;
}

 .span {
    display: inline-block;
    animation: resaltar 1.5s linear infinite;
  }
  
  @keyframes resaltar {
    from {
      color: #000;
    }
    to {
      color: #5900fff1;
    }
  }


  .container {
    position: static;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 0;
 align-items: baseline;
}

.container .card {
    align-items: center;
    align-content: center;
    position: static;
    width: 250px;
    height: 280px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.932);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
   
}
.c1{
    background-image: url('/istatic/img/qr-code.png') ;
    background-size: 150px 200px; /* Define el tamaño específico de la imagen */
    background-position: center center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: #ffffff;
}
.c2{
    background-image: url('/istatic/img/account-login.png') ;
    background-size: 150px 200px; /* Define el tamaño específico de la imagen */
    background-position: center center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: #ffffff;
}
.c3{
    background-image: url('/istatic/img/Logo.png') ;
    background-size: 150px 180px; /* Define el tamaño específico de la imagen */
    background-position: center center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: #ffffff;
}


.container .card .content {
    width: 80%;
    background-color: #6dd8eee1;
    padding-left:  3px;
    text-align: justify;
    border-radius: 5px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {

    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.281);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.5em;
    color: #000c52;
    z-index: 1000;
    position: initial;
}

.container .card .content p {
    font-size: 1em;
    color: #000000;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);


} 